[submodule "dependencies/grit-bullet"]
	path = dependencies/grit-bullet
	url = https://github.com/sparkprime/grit-bullet.git
[submodule "dependencies/grit-lua"]
	path = dependencies/grit-lua
	url = https://github.com/sparkprime/grit-lua.git
[submodule "dependencies/grit-util"]
	path = dependencies/grit-util
	url = https://github.com/sparkprime/grit-util.git
[submodule "dependencies/grit-ogre"]
	path = dependencies/grit-ogre
	url = https://github.com/sparkprime/grit-ogre.git
[submodule "dependencies/recastnavigation"]
	path = dependencies/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "dependencies/jsonxx"]
	path = dependencies/jsonxx
	url = https://github.com/hjiang/jsonxx.git
