# Put SVN in media
media

* Text editor temporary files
*~
.*.swp

# Linux build files
user.mk
build
extract
grit
grit_col_conv
gsl
GritXMLConverter
engine/tests/gasoline/glsl_check

# Visual Studio files
Debug
Normal
ipch
*.suo
*.opensdf
*.sdf
*.user
*.VC.db
*.VC.opendb

# Blender
exporters/blender_scripts/addons/grit_blender/GritXMLConverter.linux.x86_64
exporters/blender_scripts/addons/grit_blender/__pycache__
