[submodule "dependencies/grit-bullet"]
	path = dependencies/grit-bullet
	url = https://github.com/grit-engine/grit-bullet.git
[submodule "dependencies/grit-lua"]
	path = dependencies/grit-lua
	url = https://github.com/grit-engine/grit-lua.git
[submodule "dependencies/grit-util"]
	path = dependencies/grit-util
	url = https://github.com/grit-engine/grit-util.git
[submodule "dependencies/grit-ogre"]
	path = dependencies/grit-ogre
	url = https://github.com/grit-engine/grit-ogre.git
[submodule "dependencies/recastnavigation"]
	path = dependencies/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "dependencies/jsonxx"]
	path = dependencies/jsonxx
	url = https://github.com/hjiang/jsonxx.git
[submodule "dependencies/grit-freeimage"]
	path = dependencies/grit-freeimage
	url = https://github.com/grit-engine/grit-freeimage.git
[submodule "dependencies/grit-windows-prebuilt-dependencies"]
	path = dependencies/grit-windows-prebuilt-dependencies
	url = https://github.com/grit-engine/grit-windows-prebuilt-dependencies.git
