# Put SVN in media
media

* Text editor temporary files
*~
.*.swp

# Linux build files
build
extract
grit
grit_col_conv
gsl
GritXMLConverter
engine/tests/gasoline/glsl_check

# Visual Studio files
Debug
Normal
ipch
*.suo
*.opensdf
*.sdf
*.user
*.VC.db
*.VC.opendb
